<% include ../../partials/head %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/resources.css">
    <!-- <script type="text/javascript" src="/javascripts/hackathon.js"></script> -->
    <!-- <meta name="description" content=""> -->
    
</head>
<body>

<% include ../../partials/nav %>

<main>

<section id="hero">
    <div class="hero-inner">
        <div class="hero-content">
            <h1>Mental Health in Small Businesses</h1>
        </div>
    </div>
</section>

<section id="resources" class="second">
    <div class="container">
        <div class="inner">
            <h3>Documents</h3>
            <ul>
                <li><a href="/files/Digital Interventions for Mental Health in Small Business.pdf" target="_blank">Digital Interventions in Small Business Mental Health</a></li>
                <li><a href="/files/State of Workplace Mental Health in Australia.pdf" target="_blank">State of Workplace Mental Health in Australia</a></li>
            </ul>
            <h3>Websites</h3>
            <ul>
                <li><a href="https://www.headsup.org.au/healthy-workplaces/healthy-workplaces-for-small-businesses" target="_blank">Heads Up - Healthy Workplaces for Small Business</a></li>
                <li><a href="https://www.safeworkaustralia.gov.au/media-centre/becoming-mentally-healthy-small-business" target="_blank">Safe Work Australia - Becoming a Mentally Healthy Small Business</a></li>
                <li><a href="https://www.vsbc.vic.gov.au/how-we-help/advocacy/advocacy-sub-page-mental-health-initiative-creating-a-mentally-healthy-small-business/" target="_blank">Victorian Small Business Commission - Creating a Mentally Healthy Small Business</a></li>
                <li><a href="https://www.industry.nsw.gov.au/business-and-industry-in-nsw/resources-and-forms/mental-health-for-small-businesses" target="_blank">NSW Department of Industry - Mental Health for Small Business</a></li>
            </ul>
            <h3>Workshop Information</h3>
            <ul>
                <li><a href="/files/Participant Brief FINAL.pdf" target="_blank">Participant Brief</a></li>
                <li><a href="/files/Participant Terms & Conditions.pdf" target="_blank">Terms & Conditions</a></li>
            </ul>
        </div>
    </div>
</section>

</main>

<% include ../../partials/footer %>

<% include ../../partials/scripts %>