<footer class="footer">
    <div class="footer-inner">
        <table class="footer-social-icons">
            <tr>
                <td id="facebook">
                    <a href="https://www.facebook.com/conciogroup/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.33 50"><title>facebook</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M5,9.68v6.89H0V25H5V50H15.4V25h7s.65-4,1-8.45H15.44V10.78a2.45,2.45,0,0,1,2.25-2h5.64V0H15.66C4.79,0,5,8.43,5,9.68Z"/></g></g></svg>
                    </a>
                </td>
                <td id="linkedin">
                    <a href="https://www.linkedin.com/company/conciogroup/" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 47.78"><title>linkedin</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_2-2" data-name="Layer 2"><path class="cls-1" d="M50,29.29V47.78H39.28V30.53c0-4.33-1.55-7.29-5.43-7.29a5.84,5.84,0,0,0-5.49,3.92A7.17,7.17,0,0,0,28,29.77v18H17.28s.14-29.21,0-32.24H28v4.57l-.07.1H28v-.1a10.65,10.65,0,0,1,9.66-5.33C44.71,14.78,50,19.39,50,29.29ZM6.07,0C2.4,0,0,2.41,0,5.57a5.55,5.55,0,0,0,5.92,5.57H6c3.73,0,6.06-2.48,6.06-5.57S9.73,0,6.07,0ZM.64,47.78H11.35V15.54H.64Z"/></g></g></svg>
                    </a>
                </td>
            </tr>
        </table>
        <div class="footer-contact">
            <a href="mailto:theconciogroup@gmail.com">theconciogroup@gmail.com</a>
        </div>
        <nav class="footer-nav">
            <a href="/terms">Terms & Conditions</a>
            <a href="/privacy">Privacy Policy</a>
        </nav>
        <div class="scroll-to-top">
            <a href="#" id="scroll" style="display: none;"><span></span></a>
        </div>
        <br>
        <div class="footer-copyright">
            <p>© Concio Group 2020</p>
        </div>
        <a href="#" id="scroll" style="display: none;"><span></span></a>
    </div>
</footer>