<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
    duration: 1200,
    delay: 200,
    easing: 'ease-out-quart'
    });
</script>

<script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
</script>

<script>
  // Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


</body>
</html>