.fm-post-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.fm-post {
    max-width: 30%;
}
.fm-post-image {
    height: 200px;
}
.fm-post-title a {
    font-size: 1.563rem;
}
.fm-post-sub-title {

}
.fm-post-read-more {

}
.fm-link-out {

}