/* hero */

#hero {
    min-height: 40vh;
    background: linear-gradient(-45deg, var(--light-blue), var(--blue), var(--dark-blue));
	background-size: 600% 600%;
	-webkit-animation: Gradient 6s ease infinite;
	-moz-animation: Gradient 6s ease infinite;
    animation: Gradient 6s ease infinite;
}

.hero-inner {
    display: block;
    position: absolute;
    top: 20%;
    width: 100%;
}

.hero-content {
    text-align: center;
    color: var(--white);
}

@media screen and (max-width: 720px) {
    .hero-content h1 {
        font-size: 4.236rem;
    }
}

/* contact */

#contact {
    text-align: center;
}

/* form */

iframe.contact-form {
    width: 80%;
    height: 1316px;
}