#hero {
    min-height: calc(100vh - 248.34px);
}

.hero-inner {
    top: 40%;
    transform: translateY(-50%);
}

.login-form {
    text-align: center;
    margin: auto;
}

input[type="text"] {
    width: 200px;
    border: none;
    outline: none;
    font-size: 1.618rem;
    padding: 0.618rem;
    font-family: cera pro;
}

input[type="button"] {
    margin: 20px auto;
    width: 200px;
    border: 1px solid var(--white);
    background-color: transparent;
    font-family: cera pro;
    color: var(--white);
    outline: none;
    font-size: 1.618rem;
    padding: 0.618rem;
    border-radius: 4px;
    transition: background-color .4s ease;
}

input[type="button"]:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--blue);
}