::selection {
    color: var(--white);
    background: var(--light-blue);
}

* {box-sizing: border-box}

::-webkit-scrollbar {
    width: 6px;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece:end, ::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

#scroll {
    position:fixed;
    right:2%;
    bottom:0px;
    cursor:pointer;
    width:36px;
    height:36px;
    background-color: var(--charcoal);
    opacity: 0.5;
    text-indent:-9999px;
    display:none;
    border-radius: 5px 5px 0 0;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -6px;
    border: 6px solid transparent;
    border-bottom-color: var(--white);
}

#scroll:hover {
    background-color:var(--blue);
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/* header */

.header {
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 9999;
}

.header-nav ul li {
    display: inline;
}

.header-nav ul li a {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 20px;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.header-nav ul li a:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header-nav ul {
    margin-top: 10px;
    padding-left: 0;
}
  
.header-nav li {
    display: block;
    float: left;
    padding-bottom: 1rem;
    position: relative;
    text-decoration: none;
}

.header-nav ul li ul {
    background: transparent;
    visibility: hidden;
    opacity: 0;
    min-width: 20vw;
    position: absolute;
    transition: all .4s ease-in-out;
    margin-top: 1rem;
    left: 0;
    display: none;
}
  
.header-nav ul li:hover > .header-nav ul, .header-nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.header-nav .dropdown li {
    padding: 1rem;
}

.header-nav .dropdown li a {
    color: var(--white) !important;
    margin-left: 0 !important;
    font-weight: 400 !important;
    text-transform: none !important;
}

.header-nav .dropdown li a:hover {
    color: var(--yellow) !important;
}

.branding {
    display: block;
    margin-left: 4%;
    width: 180px;
    margin-top: 30px;
}

svg#logo {
    fill: var(--white);
    transition: all .4s ease;
}

svg#logo:hover {
    opacity: 0.8;
}

.header-nav {
    display: inline;
    margin-right: 4%;
    position: absolute;
    right: 20px;
    top: 20px;
}

nav a.login {
    border: 1px solid white;
    border-radius: 320px;
    padding: 12px 18px;
}

nav a.login:hover {
    background: white;
    color: var(--blue) !important;
}

@media screen and (max-width: 700px) {
    .header-nav {
        display: none !important;
    }
    .branding {
        margin: auto;
        padding-top: 24px;
    }
}

@media screen and (min-width: 701px) {
    .mobile-nav {
        display: none !important;
    }
}

.mobile-nav {
    display: inline;
    margin-left: 4%;
    position: absolute;
    left: 20px;
    top: 32px;
}

.mobile-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--charcoal);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.mobile-sidenav a {
    padding: 1rem 1rem 1rem 3rem;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
}
  
.mobile-sidenav a:hover {
    color: var(--light-blue);
}
  
.mobile-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* footer */

.footer {
    background: var(--charcoal);
}

.footer-inner {
    padding: 30px 100px 20px;
    text-align: center;
}

.footer-inner a:hover {
    text-decoration: none;
}

.footer-social-icons {
    display: inline-block;
}

.footer-social-icons svg {
    height: 24px;
    fill: var(--white);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.footer-social-icons td {
    padding: 0 12px;
}

.footer-social-icons #facebook svg:hover {
    fill: var(--facebook);
}

.footer-social-icons #instagram svg:hover {
    fill: var(--instagram);
}

.footer-social-icons #linkedin svg:hover {
    fill: var(--linkedin);
}

.footer-contact {
    padding-top: 20px;
}

.footer-contact a {
    color: var(--white);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.footer-contact a:hover {
    color: var(--yellow);
}

.footer-nav {
    padding-top: 20px;
    padding-left: -1em;
}

.footer p {
    color: var(--white);
}

.footer-nav a {
    padding-right: 1em;
    color: var(--white);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.footer-nav a:hover {
    color: var(--light-blue);
}

/* hero */

#hero {
    min-height: 40vh;
    background: linear-gradient(-45deg, var(--light-blue), var(--blue), var(--dark-blue));
	background-size: 600% 600%;
	-webkit-animation: Gradient 6s ease infinite;
	   -moz-animation: Gradient 6s ease infinite;
            animation: Gradient 6s ease infinite;
}

.hero-inner {
    display: block;
    position: absolute;
    top: 20%;
    width: 100%;
}

.hero-content {
    text-align: center;
    color: var(--white);
}

.hero-content h1 {
    margin-bottom: 2rem;
}

section.second {
    min-height: calc(60vh - 248.34px);
}

/* ADAPTATIONS */

section#hero {
    margin: 0;
}

section.last {
    margin-bottom: 0;
}

/* thankyou */

.thankyou h4, .thankyou h5 {
    text-transform: none;
}

/* resources */

.second .inner {
    padding-top: 0;
}

.second .inner h3 {
    margin-bottom: 1rem;
}