/* icons */

#services-icons {
    text-align: center;
    color: var(--dark);
}

#services-icons img {
    fill: var(--dark);
    height: 15vh;
    max-width: 12vw;
    display: block;
    margin: auto;
}

#services-icons table {
    padding-top: 20px;
    display: grid;
    place-items: center;
    width: 100%;
}

#services-icons table td {
    padding: 6px 12px;
    max-width: 25vw;
}

#services-icons table td h2 {
    font-size: 1.618rem;
    color: var(--dark);
    background-image: linear-gradient(180deg, transparent 65%, var(--yellow) 0);
    background-size: 0 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

#services-icons table td a {
    color: var(--dark);
}

#services-icons table td h2:hover {
    background-size: 100% 100%;
}

@media screen and (max-width: 1070px) {
    #services-icons table td h2:hover {
        background-size: 0 100%;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 720px) {
    #services-icons {
        display: none;
    }
}

/* explainer */

.explainer-content {
    display: flex;
}

.services-explainer svg {
    max-width: 24vw;
    max-height: 24vh;
    fill: var(--dark);
    display: inline-block;
    padding-bottom: 4%;
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    flex: 1 0 0;
}

.explainer-text {
    display: inline-block;
    max-width: 70%;
    padding-left: 6rem;
    text-align: left;
}

@media screen and (max-width: 1070px) {
    .services-explainer svg {
        display: none;
    }
    .explainer-text {
        max-width: 100%;
        padding-left: 0;
    }
}

@media screen and (max-width: 720px) {
    .explainer-text h1 {
        font-size: 4.236rem;;
    }
}