/* icons */

#services-icons {
    text-align: center;
    color: var(--dark);
}

#services-icons img {
    fill: var(--dark);
    height: 15vh;
    max-width: 12vw;
    display: block;
    margin: auto;
}

#services-icons table {
    padding-top: 20px;
    display: grid;
    place-items: center;
    width: 100%;
}

#services-icons table td {
    padding: 6px 12px;
    max-width: 25vw;
}

@media screen and (max-width: 720px) {
    #services-icons {
        display: none;
    }
}

/* explainer */

.explainer-content {
    display: flex;
}

.services-explainer svg {
    max-width: 24vw;
    max-height: 24vh;
    fill: var(--dark);
    display: inline-block;
    padding-bottom: 4%;
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    flex: 1 0 0;
}

.explainer-text {
    display: inline-block;
    max-width: 70%;
    padding-left: 6rem;
    text-align: left;
}

@media screen and (max-width: 1070px) {
    .services-explainer svg {
        display: none;
    }
    .explainer-text {
        max-width: 100%;
        padding-left: 0;
    }
}