<% include ../../partials/head %>

<link type="text/css" rel="stylesheet" href="/stylesheets/events.css">

<% include ../../partials/nav %>

<main>

<section id="hero">
    <div class="container">
        <div class="hero-inner">
            <div class="hero-content">
                
            </div>
        </div>
    </div>
</section>

<section id="details">
    <div class="container">
        <div class="inner">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.3958013566594!2d151.20141500949686!3d-33.87945888716697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae25c61687bb%3A0xeb42651b84672f15!2sUTS+Building+15!5e0!3m2!1sen!2sau!4v1550796943795" class="map" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</section>

</main>


<% include ../../partials/footer %>
<% include ../../partials/scripts %>