<% include ../../partials/head %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/workshop.css">
    <!-- <script type="text/javascript" src="/javascripts/hackathon.js"></script> -->
    <!-- <meta name="description" content=""> -->
    
</head>
<body>

<% include ../../partials/nav %>

<main>

<section id="hero">
    <div class="hero-inner">
        <div class="hero-content">
            <h1>Gender Equality</h1>
        </div>
    </div>
</section>

<section id="resources" class="second">
    <div class="container">
        <div class="inner">
        </div>
    </div>
</section>

</main>

<% include ../../partials/footer %>

<% include ../../partials/scripts %>