<% include ../../partials/head %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/workshop.css">
    <!-- <script type="text/javascript" src="/javascripts/hackathon.js"></script> -->
    <!-- <meta name="description" content=""> -->
    
</head>
<body>

<% include ../../partials/nav %>

<main>

<section id="hero">
    <div class="hero-inner">
        <div class="hero-content">
            <h1>Mental Health Workshop</h1>
        </div>
    </div>
</section>

<section id="resources" class="second">
    <div class="container">
        <div class="inner">
            <a href="files/Digital Interventions for Mental Health in Small Business.pdf" target="_blank">Digital Interventions in Small Business Mental Health</a>
            <br>
            <a href="/files/State of Workplace Mental Health in Australia.pdf" target="_blank">State of Workplace Mental Health in Australia</a>
            <br>
        </div>
    </div>
</section>

</main>

<% include ../../partials/footer %>

<% include ../../partials/scripts %>