<% include ../partials/head %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/hackathon.css">
    <!-- <script type="text/javascript" src="/javascripts/hackathon.js"></script> -->
    <!-- <meta name="description" content=""> -->
    
</head>
<body>

<% include ../partials/nav %>

<main>

<section id="hero">
    <div class="hero-inner">
        <h1>Mental Health Workshop</h1>
    </div>
</section>

<section id="resources">
    <div class="container">
        <div class="inner">
            <a href="/images/ios.png" download="app-icon">
                <img src="/images/ios.png" width="20%">
            </a>
        </div>
    </div>
</section>

</main>

<% include ../partials/footer %>

<% include ../partials/scripts %>