<% include ../partials/head %>

    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/---.css"> -->
    <script type="text/javascript" src="/javascripts/hackathon.js"></script>
    <!-- <meta name="description" content=""> -->
    
</head>
<body>

<% include ../partials/nav %>

<main>

<h1>Success</h1>

</main>

<% include ../partials/footer %>

<% include ../partials/scripts %>