<% include ../partials/head %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css">
    <!-- <meta name="description" content=""> -->

<script type="text/javascript">
// PASSWORD PROTECTION SCRIPT

function TheLogin() {

var mentalhealth = 'mentalhealth';
var genderequality = 'genderequality';

if (this.document.login.pass.value == mentalhealth) {
    top.location.href="/mentalhealth";
} else if (this.document.login.pass.value == genderequality) {
    top.location.href="/genderequality";
}
else {
    window.alert("Incorrect password, please try again.");
    }
}
</script>

</head>
<body>

<% include ../partials/nav %>

<main>

<section id="hero">
    <div class="hero-inner">
        <div class="login-form">
            <form name="login">
                <input id="input" type="text" name="pass" placeholder="Password" onkeydown="if(event.keyCode==13) return false;">
                <br>
                <input id="submit" type="button" value="Submit" onclick="javascript:TheLogin(this.form)">
            </form>
        </div>
    </div>
</section>

</main>

<% include ../partials/footer %>

<% include ../partials/scripts %>