<% include ../partials/head %>

    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/---.css"> -->
    <!-- <script type="text/javascript" src="/javascripts/---.js"></script> -->
    <!-- <meta name="description" content=""> -->
    
</head>
<body>

<% include ../partials/nav %>

<main>

<section id="hero">
    <div class="hero-inner">
        <!-- hero content -->
    </div>
</section>

<section>
    <div class="container">
        <div class="inner">
            <!-- body content -->
        </div>
    </div>
</section>

</main>

<% include ../partials/footer %>

<% include ../partials/scripts %>