<% include ../partials/head %>

    <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/---.css"> -->
    <!-- <title></title> -->
    <!-- <meta name="description" content=""> -->
</head>
<body>

<% include ../partials/nav %>

<main>

<!-- page content -->

</main>

<% include ../partials/footer %>

<% include ../partials/scripts %>