<% include ../partials/head %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/login.css">
    <!-- <meta name="description" content=""> -->

</head>
<body>

<% include ../partials/nav %>

<main>

<section id="hero" class="thankyou">
    <div class="hero-inner">
        <div class="hero-content">
            <h4>Thanks for getting in touch <span class="userFirstName"></span></h4>
            <h5>We'll get back to you as soon as we can</h5>
        </div>
    </div>
</section>

</main>

<% include ../partials/footer %>

<% include ../partials/scripts %>