<% include ../partials/head %>

    <link type="text/css" rel="stylesheet" href="/stylesheets/blog.css">
    <!-- <script type="text/javascript" src="/javascripts/---.js"></script> -->
    <!-- <meta name="description" content=""> -->
    
</head>
<body>

<% include ../partials/nav %>

<div class="title">
    <h1>youth week 2018 social enterprise competition</h1>
</div>

<div class=”entry-meta”><a class=”entry-date published”>April 16, 2018</a></div>

<div class="body">
    <p>Isaac recently had the pleasure of judging a social enterprise competition held as part of Youth Week 2018 through the City of Sydney Council. The session was run by Young Change Agents and asked 'How can we improve interaction between local and international students in Sydney?'</p>
    <p>"I heard some incredible ideas to address problems faced by local and international students, all developed over the course of just one day!"</p>
</div>

<% include ../partials/footer %>

<% include ../partials/scripts %>